<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>Post</div>
            <form th:action="@{/post}" method="POST">
                <table>
                    <tr>
                        <td><input type="text" id="content" name="content" placeholder="Write here. Max 500 symbols!" maxlength="500" required/></td>
                    </tr>
                    <tr>   
                        <td><button type="submit">Add Post</button></td>
                    </tr>
                </table>
            </form>
            <div th:each="post : ${posts}">
                
                    <span th:text="${post.account.name}">account</span>
                    <br>
                    <span th:text="${#temporals.format(post.timeCreated, 'HH:mm (dd.MM.yyyy)')}">time</span>
                    <br>
                    <span th:text="${post.postText}">text</span>
                    <br>
                    <form th:action="@{/post/{id}/like(id=${post.id})}" method="POST">
                        <input type="hidden" id="postLike" name="postLike" value="postLike"/>
                        <button type="submit"><span th:text="${#lists.size(post.likes)}">likes</span></button><span> likes</span>
                    </form>
                
                    <form th:action="@{/post/{id}/comment(id=${post.id})}" method="POST">
                        <table>
                            <tr>
                                <td><input type="text" id="content" name="content" placeholder="Write here. Max 500 symbols!" maxlength="500" required/></td>
                            </tr>
                            <tr>   
                                <td><button type="submit">Add Post</button></td>
                            </tr>
                        </table>
                    </form>
                    <div th:each="comment,iter : ${post.messageComments}" th:if="${iter.index < 10}">
                        <span th:text="${comment.account.name}">account</span>
                        <br>
                        <span th:text="${#temporals.format(comment.timeCreated, 'HH:mm (dd.MM.yyyy)')}">time</span>
                        <br>
                        <span th:text="${comment.commentText}">text</span>
                        <br>
                    </div>
                
            </div>
    </body>
</html>
