<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Le Success!</title>
        <meta charset="UTF-8" />
    </head>
    <body>
        <h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
        <h1>Profile of <span th:text="${profileName}"></span></h1>
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Sign Out"/>
        </form>
        <br>
            <br>
                <div th:switch="${viewedAccount.picture}">                  
                    <img th:case="null" th:src="@{/images/noimage.jpg}" width="200" height="200"/>
                    <img th:case="*" th:src="@{/picture/{id}(id=${viewedAccount.picture.id})}" width="200" height="200"/>
                </div>
            <br>
        <div th:if="${viewedAccount == account}">   
            <form th:action="@{/profile/{path}/picture(path=${path})}" method="POST" enctype="multipart/form-data">
                <input type="file" name="file" />
                <input type="submit" value="Add picture"/>
            </form>
            <div th:if="${viewedAccount.picture != null}">   
                <form th:action="@{/profile/{path}/picture/delete(path=${path})}" method="POST">
                    <input type="submit" value="Delete picture"/>
                </form>
            </div>
        </div>
        <div th:if="${viewedAccount == account}"> 
            <form th:action="@{/profile/{path}/skill(path=${path})}" method="POST">
                <table>
                    <tr>
                        <td><input type="text" id="content" name="content" placeholder="Skill" maxlength="50" required/></td>
                    </tr>
                    <tr>   
                        <td><button type="submit">Add skill</button></td>
                    </tr>
                </table>
            </form>
        </div>
            <span th:text="${profileName}"></span>'s skills:
            <li th:each="skill : ${skills}">
                <span th:text="${skill.name}">skill</span>
                <form th:action="@{/profile/{path}/skill/{id}/like(path=${path}, id=${skill.id})}" method="POST">
                    <input type="hidden" id="skillLike" name="skillLike" value="skillLike"/>
                    <button type="submit"><span th:text="${#lists.size(skill.likes)}">likes</span></button><span> likes</span>
                    
                </form>
            </li>
        <br>
            <a th:href="@{/userlist}">Contacts</a>
        <br>
    </body>
</html>
